<% content_for :title, "Posts" %>

<div class="max-w-4xl mx-auto">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">All Posts</h1>
    <% if logged_in? %>
      <%= link_to "New Post", new_post_path, id: "new-post-link", class: "bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded" %>
    <% end %>
  </div>

  <%= turbo_stream_from "posts" %>
  <div id="posts" class="space-y-4">
    <% if @posts.any? %>
      <div class="stream-items">
        <%= render partial: "post", collection: @posts %>
      </div>
    <% else %>
      <div class="bg-white p-8 rounded-lg shadow text-center">
        <p class="text-gray-500 mb-4">No posts have been created yet.</p>
        <% if logged_in? %>
          <%= link_to "Create the first post", new_post_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded inline-block" %>
        <% else %>
          <p><%= link_to "Sign up", signup_path, class: "text-blue-500 hover:underline" %> or <%= link_to "log in", login_path, class: "text-blue-500 hover:underline" %> to create posts.</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
